* {
    box-sizing: border-box;
}

body {
    background-color: orange;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    height: fit-content;
    width: fit-content;

    #leftBtn {
        position: absolute;
        left: 0;
    }
    #rightBtn {
        position: absolute;
        right: 0;
    }
}
